// General
@use 'variables';
@use 'utilities';

@import "react-alice-carousel/lib/alice-carousel.css";

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: variables.$main-dark;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

// Navbar
.nav-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-inline: 10px;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: -1px;
    background-color: variables.$main-light;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    z-index: 50;
    
    .nav-menu-icon{
        transition: all 0.1s ease-in-out;

            &:hover{
                cursor: pointer;
                transform: scale(1.1);
                color:rgb(177, 177, 6);
            }
    }
    .nav-title-wrapper{

        position: relative;

        .nav-logo{

            color: rgb(177, 177, 6);
            font-size: 3rem;
            position: absolute;
            left: -30px;
            transition: all 0.1s ease-in-out;

            &:hover{

                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }
    
}

%menu-link{

    width: 100%;
    font-size: 1.8rem;
    font-weight: 300;
    color: rgb(197, 197, 197);
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    text-indent: 20px;
    position: relative;
    transition: all 0.3s ease-in-out;

    a {
        color: rgb(197, 197, 197);
    }

    &:hover{
        background-color: rgba(77,87,96,.6);
    }
}

.active-link{

    &::after{

        position:absolute;
        background-color: rgb(177, 177, 6);
        width: 4px;
        height: 100%;
        content: '';
        left: 0;
        top: 0;
        bottom: 0;
    }
}

// Nav Menu
.nav-menu-container{

    position: fixed;
    z-index: 20;
    background-color: #1e262c;
    color: white;
    height: 100vh;
    width: 250px;
    left: 0;
    top: 0;
    padding-top: 60px;
    transition: all 0.2s ease-in-out;
    
    &>.menu-section{

        border-bottom: rgba(128, 128, 128, 0.466) solid 0.1px;
        padding-bottom: 20px;

        .menu-link{
            @extend %menu-link;
        }

        .menu-link-inner{

            @extend %menu-link;
            padding-top: 10px;
            padding-bottom: 10px;
            text-indent: 40px;
            font-size: 1.5rem;
        }
    }
}

.menu-section.nav-site-links-container{

    border-bottom: none;

    .nav-site-links{

        display: flex;
        flex-flow: row no-wrap;
        justify-content: flex-start;
        text-indent: 20px;
        padding-top: 15px;
        border-bottom: none;
        
        a{
            color:rgb(121, 121, 121);
            transition: all .3s ease-in-out;
            &:hover{
                color: rgb(177, 177, 6);
            }
        }
    }
}

.menu-section.nav-language-section{
    border-bottom: none;
    padding-top: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
  
    a{
        color:rgb(180, 180, 180);
        transition: all 0.2s ease-in-out;
        &:hover{
            color: rgba(240, 240, 52, 0.521);
        }
    }

    .language-icon{
        margin-right: 10px;
        font-size: 3rem;
        position: absolute;
        left: 30px;
        top: 10px;
        
    }
    
}

.browse-container{
    background-color:#10171dfd;
    transition: all 0.2s ease-in-out;
    height: max(100%, 100vh);
}
// Browse
.browse-header{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items:center;

    h2{
        margin-top: 100px;
        text-align: center;
        // padding-top: 30px;
        font-weight: 200;
        // padding-bottom: 10px;
        color: white;
    }
    .browse-sort-button{
        border: none;
        background: none;
        color: gray;
        align-self: flex-end;
        margin-right: 20px;
        letter-spacing: 1px;
        transition: scale 0.2s ease-in-out;
        .browse-sort-icon{
            background-color: none;
            font-size: 2rem;
            
        }

        &:hover{
            color:rgba(94, 94, 0, 0.89);
            cursor: pointer;
            transform: scale(1.05);
        }
    }
    

}

// Game Results
.gameList{
    //width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    

    ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around ;
        align-items: center;
        max-width: 1400px;
        

        li{
            min-width: 25%;
            margin-inline: 0px;
            margin-bottom: 15px;
            transition: all 0.2s ease-in-out;
            &:hover{
                transform: scale(1.1);
                cursor: pointer;
            }
            .gamecard-container{
                
                height: fit-content;
                
                
                .gamecard-image-wrapper{
                    display: inline-block;
                    height: fit-content;
                    width: fit-content;
                    position: relative;
                    transition: all 0.2s ease-in-out;

                    &:after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 184px;
                        background: linear-gradient(180deg, rgba(0,0,0,0), black);
                    }

                    &:hover{
                        //transform: scale(1.05);
                    }
                    
                    img {
                        display: block;
                        height: 184px;  
                        aspect-ratio: 16/9;
                        transition: all 0.2s ease-in-out;
                        background-size: cover;
                        z-index: 2;
                        border-radius: 5px;
                        
                        &:hover{
                            //transform: scale(1.1);
                            cursor: pointer;
                        }
                    }
                }
               

                .gamecard-info-container{
                    position: relative;
                    .gamecard-title{
                        position: absolute;
                        left: 0;
                        bottom: 80px;
                        text-indent: 10px;
                        font-size: 2rem;
                        width: 100%;
                        color: white;
                    }

                    .gamecard-platforms{
                        position: absolute;
                        left: 0;
                        bottom: 0px;
                        // text-indent: 10px;
                        width: 100%;
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 10px;
                        margin-inline: 5px;

                        .gamecard-platform{
                            font-size: 1rem;
                            margin: 0;
                            border: thin solid white;
                            border-radius: 5px;
                            text-align: center;
                            margin-inline: 5px;
                            margin-bottom: 2px;
                            z-index: 10;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    
}

// General
.mainComponent {
    //margin-left: 280px;
    transition: all 0.2s ease-in-out;
}

// Navigation
.pageNav-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

    .pageNav-button{
        border: none;
        background: none;
        color: white;
        font-size: 2rem;
        text-decoration: underline;

        &:hover{
            color: orange;
            cursor: pointer;
        }
    }

}

// Auth Form
.authForm{
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    transition: all 0.2s ease-in-out;
    
    *{
        margin-top: 5px;
        transition: all 0.2s ease-in-out;
    }

    input{
        border: none;
        border-radius: 5px;
        text-indent: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 90%;
        font-size: 1.6rem;
    }

    label{
        font-size: 1.3rem;
        color:rgb(192, 255, 20);
        font-style:italic;
        letter-spacing: 0.1rem;
        padding-left: 10px;
    }

    &>button{
        border-radius: 10px;
        background-color: lighten(#181e23, 10%);
        margin-left: 0;
    }
}
.browse-container{
    &>.banner-section{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row wrap;
        height: 100vh;
        max-height: 100vh;
        color: white;
        margin-inline: 10px;
        //Photo by <a href="https://unsplash.com/@everywheresean?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sean Do</a> on <a href="https://unsplash.com/s/photos/game?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.80);
        background-blend-mode: multiply;
        width: 100%;
        
        &>.splash-section{
            width: 40%;
            height: fit-content;
            margin: 0;
            .splash-btn-container{
                .btn,
                .btn.btn-filled,
                .authForm{
                    margin-inline: 0 auto;
                    width: 100%;
                    max-width: 80%;
                    border: none;
                    text-align: center;
                    text-transform: uppercase;
                    display: block;
                    margin-left: 10%;
                }
            }
            
            .btn.splash-btn-browse{
                // margin-left: 8%;
            }
        }
    
        .splash-screenshots-container{
            // border: thin solid red;
           
            width: 50%;
    
            img{
                width: 100%;
            }
    
            .alice-carousel_wrapper{
                
            } 
        }
    
        h1{
            padding-top: 50px;
            font-size: 6rem;
            text-align: start;
            padding-left: 10%;
        }
    
        p{
            font-size: 2rem;
            padding-left: 10%;
        }
        
        .menu-buttons-container.menu-section{
            width: 100%;
        }
    }
}

.nav-close{
    border: none;
    background: none;
    color: white;
    font-size: 4rem;
    position: absolute;
    right: 30px;
    top: 15px;
    transition: all 0.1s ease-in-out;
    &:hover {
        scale: (1.15);
        cursor: pointer;
        color:rgb(177, 177, 6);
    }
}

.browse-container {
   
    .banner-section{
        max-width: 100vw;
        height: 100vh;
        margin-inline: 0;
        
        div{
            padding-top: 5%;
            margin-right: 5%;
            .btn{
                width: 100%;
                // border: orange solid thin;
                display: inline-block;
            }
        }

        .menu-buttons-container{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            max-width: 500px;
            height: fit-content;
            
            .authForm{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-inline: 5%;
                background-color: rgba(0, 0, 0, 0.836);

                *{
                    margin-bottom: 10px;
                    margin-inline: 10%;
                }
            }
            li{
                width: 100%;

                .btn{
                    width: 100%;
                }  
            }
              
        }
    }
}

.modal-outer-container{
    // border: solid 5px #161c20fd;
    // border-radius: 5px;
    width: 90%;
    max-width: 1400px;
    // background: linear-gradient(#0e1e2bfb, #b87a7a);
    // background-color:#10171dfd;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    height: auto;
    min-height: 95%;
    max-height: 95%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    

    .test-div{
        width: 50px;
        height: 50px;
        // border: thin solid red;
        z-index: 3050;
        color: white;
        position: absolute;
        right: 15px;
        top: 0;
        font-size: 5rem;
        color: rgb(240, 95, 95);
        &:hover{
            cursor: pointer;
        }
    }
}
.modal-nav{
    // border: thin solid red;
    // width: 50px;
    // height: 50px;
    // z-index: 2000;
    // position: fixed;
    // left: 5%;
    // top: 2.5%;

    // height: 35px;
    // background-color:#00000000;
    // position: fixed;
    // top: 4.4%;
    // left: 8%;
    // transform: translate(-50%, -50%);
    // z-index: 2000;
    // border: thin solid rgb(248, 0, 0);
    // width: 20px;
    // max-width: 1400px;
    // padding: 0;

    // &:hover{
    //     background-color: rgba(37, 0, 0, 0.212);
    // }

    // .modal-nav-close-container{

    //     position: relative;
    //     height: 100%;

    //     .modal-close-btn{
            
    //         position: absolute;
    //         top: 5px;
    //         left: 5px;
    //         text-align: center;
    //         vertical-align: middle;
    //         color: rgba(245, 3, 3, 0.219);
    //         transition: all 0.2s ease-in-out;
    //         z-index: 1001;
    //         width: 100%;
    //         background: none;
    //         padding: 0;
    //         margin: 0;
    //         font-size: 3rem;
    //         height: 100%;
    //         border: none;
            
    //         &:hover{

    //             cursor: pointer;
    //             color: rgba(197, 29, 29, 0.938);
    //         }
    //     }
    // }
}

.modal-container{
    
    border: solid 5px #161c20fd;
    border-radius: 5px;
    width: 100%;
    // max-width: 1400px;
    background: linear-gradient(#0e1e2bfb, #030303);
    // background-color:#10171dfd;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    
    height: auto;
    min-height: 100%;
    max-height: 100%;
    overflow: auto;
    
    // border: thin solid red;
    // position: relative;

    .modal-banner-container{
        height: 100%;
        margin-bottom: 25px;
        // border: thin solid blue;
        position: relative;
        
        
        .modal-banner-image{
            width: 100%;
            border-radius: 5px;
            position: relative;
            height: 100%;

            &:after{
                display: block;
                position: absolute;
                background-image: linear-gradient(to left, rgba(0, 0, 0, 0.26) 25%, rgb(0, 0, 0) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.26) 75%, rgb(0, 0, 0) 100%);
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                content: '';
            }
            .modal-image{
                width: 100%;
                border-radius: 5px;
                position: relative;
                
            }
        }

        .esrb-logo{
            width: 50px;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 10px;
            margin-bottom: 10px;

        }

        .modal-banner-info{
            position: absolute;
            top: 0;
            left: 0;
            color: rgb(228, 228, 228);
            display: flex;
            justify-content: flex-start;
            flex-flow: row wrap;
            align-items: flex-start;
            margin-inline: 5%;
            margin-top: 5%;
            // border: thin rgb(255, 94, 0) solid;
            
            &>*{
                width: 100%;
            }   
            h2{
                font-size: 4rem;
                margin-bottom: 10px;
                margin-top: 5px;
            }
            ul{
                margin-bottom: 10px;
                display: flex;
                flex-flow: row wrap;

                li{
                    color: yellow;
                    font-size: 2rem;
                }
            }
        }
    }

    .modal-info-description{
        font-size: 1.7rem;
        background-color:rgba(0, 0, 0, 0.342);
        line-height: 1.8;
        margin: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 10px;
        height: auto;
        overflow: auto;
        color: rgb(172, 172, 172);
        width: 95%;
        padding-left: 2.5%;
        max-height: 300px;
        text-indent: 5%;
        font-weight: thin;
        margin-bottom: 50px;
    }

    .modal-platforms-container{
        ul{
            display:flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 30px;

            .modal-platform-group{
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                margin: 10px;
                // border: red thin solid;

                .modal-banner-platform-image{
                    border: solid thin rgba(0, 0, 0, 0);
                    background: none;
                    margin-inline: 5px;
                    width: 170px;
                    padding: 0;
                    border-radius: 10px;
                    transition: all 0.2s ease-in-out;
                    padding-inline: 10px;

                    &:hover{
                        transform: scale(1.1);
                        cursor: pointer;
                        background-color: none;
                        border-color: green;
                    }

                    img{
                        width: 140px;
                        padding: 5px;
                        aspect-ratio: 1920/788;
                        object-fit: contain;
                        margin-bottom: 0;
                        // border: thin solid rgb(58, 58, 58);
                        // border-radius: 10px;
                        
                        background-color:rgba(0, 0, 0, 0.26);
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                    }
                }

                .modal-banner-platform-label{
                    color: white;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }

                // button{
                //     width: 100px;
                //     margin:0;

                //     &:hover{
                //         background-color: green;
                //     }
                // }
            }
        }
    }

   
}

.modal-screenshots-container{
    width: 100%;
    max-width: 1400px;
    height: 200px;
    max-height: 200px;

    img{
        width: 95%;
        border-radius: 5px;
        max-width: 1400px;
        margin-left: 2.5%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.in-library{
    border-color: green !important;
}

@media all and (max-width: 1000px){
    .browse-container{
        &>.banner-section{

            h1{
                font-size: 3rem;
            }

            p{
                font-size: 1.5rem;
            }
            
            .btn,
            .btn.btn-filled,
            .authForm{
                margin-inline: 0 auto;
                max-width: 300px;
                border: none;
                text-align: center;
                text-transform: uppercase;
                margin-left: 10%;
                font-size: 1.3rem;
            }
        }
    }
}
@media all and (max-width: 650px){
    .modal-container{
  
        .modal-banner-container{
       
            .modal-banner-info{
                h2{
                    font-size: 2rem;
                }
            }
        }
        .modal-platforms-container{
            ul{
                li{
                    margin-top: 10px;

                    img{
                        width: 75px;
                    }
    
                    button{
                        width: 76px;
                    }
                }
            }
        }
    }
    .modal-nav{
        
        .modal-nav-close-container{
            background-color: #bd14080c;
            .modal-close-btn{
                text-align: center;
                font-size: 2rem;
                
            }
        }
    }
    .browse-header{
        h2{
            // margin-top: 100px;
        }
        input{
            width: 90%;
            height: 50px;
        }
    }

    .browse-container{
        &>.banner-section{
            &>.splash-section{
                width: 100%;
            }
            .splash-screenshots-container{
                padding:0;
                padding-lefT: 2.5%;
            }
        }
    }
    
}
